<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
  <link rel="shortcut icon" href="image/favicon1.ico"></link>

    <title>Meeha Shop</title>
    <meta name="description" content="Meeha Shop is an exotic shop for pets. We offer Pet costume, Pet clothes, Pet furniture, Pet utils at an affordable price."></meta>
      <!-- iPad retina icon -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="components/patternfly/dist/img/apple-touch-icon-precomposed-152.png"></link>
  <!-- iPad retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="components/patternfly/dist/img/apple-touch-icon-precomposed-144.png"></link>
  <!-- iPad non-retina icon -->
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="components/patternfly/dist/img/apple-touch-icon-precomposed-76.png"></link>
  <!-- iPad non-retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="components/patternfly/dist/img/apple-touch-icon-precomposed-72.png"></link>
  <!-- iPhone 6 Plus icon -->
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="components/patternfly/dist/img/apple-touch-icon-precomposed-180.png"></link>
  <!-- iPhone retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="components/patternfly/dist/img/apple-touch-icon-precomposed-114.png"></link>
  <!-- iPhone non-retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="components/patternfly/dist/img/apple-touch-icon-precomposed-57.png"></link>
   <link rel="stylesheet" href="assets/css/patternfly-adjusted.min.css"></link>
  <link rel="stylesheet" href="components/patternfly/dist/css/patternfly-additions.min.css"></link>
  <link rel="stylesheet" href="assets/css/patternfly-site.min.css"></link>
   <link rel="stylesheet" href="assets/css/krubka.css"></link>
   <link rel="stylesheet" href="assets/css/blog.css"></link>
      <link rel="stylesheet" href="assets/css/aboutus.css"></link>
   
   		<link rel="stylesheet" type="text/css" href="assets/css/normalize.css" />
			<link rel="stylesheet" type="text/css" href="assets/css/demo.css" />
			<link rel="stylesheet" type="text/css" href="assets/css/footer.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/checkout-cornerflat.css" />
				<link rel="stylesheet" type="text/css" href="assets/css/component.css" />
				<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    
        <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
    
    
    
    
    <!-- Bootstrap core CSS -->
    <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link href="assets/css/form-validation.css" rel="stylesheet"></link>
    
     <script src="components/jquery/dist/jquery.min.js"></script>
  <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="components/patternfly-bootstrap-combobox/js/bootstrap-combobox.js"></script>
  <script src="components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
  <script src="components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script src="components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
  <script src="components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
  <script src="components/patternfly-bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
 <script src="components/d3/d3.min.js"></script>
 <script src="components/c3/c3.min.js"></script>
  <script src="components/datatables/media/js/jquery.dataTables.js"></script>
  <script src="components/google-code-prettify/bin/prettify.min.js"></script>
    <script src="components/clipboard/dist/clipboard.min.js"></script>
    <script src="components/patternfly/dist/js/patternfly.js"></script>
  <script src="components/matchHeight/dist/jquery.matchHeight-min.js"></script>
  <script src="assets/js/patternfly-site.min.js"></script>
  <script src="assets/js/krubka.js"></script>
  
  		<script src="assets/js/classie.js"></script>
		  		<script src="assets/js/jquery.easyPaginate.js"></script>
		<script src="assets/js/anime.min.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="http://www.patternfly.org/components/angular-patternfly/dist/docs/grunt-scripts/angular-patternfly.js"></script>
  
  <script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
     <script src="components/patternfly/src/js/patternfly.dataTables.pfEmpty.js"></script>
	   <script src="components/patternfly/src/js/patternfly.dataTables.pfFilter.js"></script>
  <script src="components/patternfly/src/js/patternfly.dataTables.pfPagination.js"></script>
    <script src="components/patternfly/src/js/patternfly.dataTables.pfResize.js"></script>
	<script src="components/patternfly/src/js/patternfly.dataTables.pfSelect.js"></script>
  </head>

  <body class="bg-light">
  
   <ul id="navigation">
            <li class="home"><a href="http://localhost:8080/orders" title="Home"></a></li>
				  <li class="about2"><a href="http://localhost:8080/checkout" title="Check out"></a></li> 
				  	 <li class="search"><a href="http://localhost:8080/tracking" title="Product tracking"></a></li>
					    <li class="promotion"><a href="http://localhost:8080/coupon" title="Promotion"></a></li>
            <li class="howtobuy"><a href="http://localhost:8080/step" title="How to buy"></a></li>
            <li class="about"><a href="http://localhost:8080/aboutus" title="About Us"></a></li>        
        </ul>

    <div class="container">
                <h1 class="text-center">MEET OUR TEAM</h1>
                <p class="home-paragraph text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has<br /> been the industry's standard dummy text ever since the 1500s, when an</p>
                <div class="row">
                    <div id="carousel-example" class="carousel slide team team-web-view" data-ride="carousel">
                        <div class="carousel-line">
                            <div class="controls pull-right">
                                <a class="left fa fa-angle-left btn" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-angle-right btn " href="#carousel-example" data-slide="next"></a>
                            </div>
                        </div>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg" alt="User one" />
                                            </div>
                                            <div class="info">
                                                <div class="name">Rohit Sharma</div>
                                                <div class="degination">Director</div>
                                                <div class="social-connect">
                                                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="http://www.charlottenursey.co.uk/wp-content/themes/charlotte-nursey/images/charlotte-nursey-profile.jpg" class="img-responsive" alt="Charles John" />
                                            </div>
                                            <div class="info">
                                                <div class="name">Giselle Childs</div>
                                                <div class="degination">Expert Agent</div>
                                                <div class="social-connect">
                                                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="http://www.appstate.edu/academics/profiles/_images/scott-collier-400x400.jpg" class="img-responsive" alt="Charlotte Law" />
                                            </div>
                                            <div class="info">
                                                <div class="name">Scott Collier</div>
                                                <div class="degination">Expert Agent</div>
                                                <div class="social-connect">
                                                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="http://ina-law.co.za/wp-content/uploads/Illse-Nieuwoudt-Profile.jpg" alt="Coleman Harmon" />
                                            </div>
                                            <div class="info">
                                                <div class="name">Notary</div>
                                                <div class="degination">Expert Agent</div>
                                                <div class="social-connect">
                                                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <div class="item">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="http://www.charlottenursey.co.uk/wp-content/themes/charlotte-nursey/images/charlotte-nursey-profile.jpg" class="img-responsive" alt="Charles John" />
                                            </div>
                                            <div class="info">
                                                <div class="name">Giselle Childs</div>
                                                <div class="degination">Expert Agent</div>
                                                <div class="social-connect">
                                                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="http://ina-law.co.za/wp-content/uploads/Illse-Nieuwoudt-Profile.jpg" alt="Coleman Harmon" />
                                            </div>
                                            <div class="info">
                                                <div class="name">Notary</div>
                                                <div class="degination">Expert Agent</div>
                                                <div class="social-connect">
                                                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="http://www.appstate.edu/academics/profiles/_images/scott-collier-400x400.jpg" class="img-responsive" alt="Charlotte Law" />
                                            </div>
                                            <div class="info">
                                                <div class="name">Scott Collier</div>
                                                <div class="degination">Expert Agent</div>
                                                <div class="social-connect">
                                                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-sm-3">
                                        <div class="col-item">
                                            <div class="photo-shadow"></div>
                                            <div class="photo">
                                                <img src="https://www2.mmu.ac.uk/media/mmuacuk/style-assets/images/r-research/profile-Zeyad.jpg" alt="User one" />
                                            </div>
                                            <div class="info">
                                                <div class="name">Rohit Sharma</div>
                                                <div class="degination">Director</div>
                                                <div class="social-connect">
                                                    <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                                                    <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                     
                        </div>
                    </div>
                </div>
    </div>
    <footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email " />
                                <button class="btn  bg-gray" type="button"> Lorem ipsum <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Perfection Stationery 2017. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                	<li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/vendor/holder.min.js"></script>
    <script src="js/classie.js"></script>
		<script src="js/dynamics.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/main2.js"></script>
     <script type="text/javascript">
     $(document).ready(function () {
	     alert('loaded!');	
	     
	     $('#navigation a').click(function(){
	        	alert("selected!");
		  });
	     
    	 $('#navigation a').stop().animate({'marginLeft':'-85px'},1000);

         $('#navigation > li').hover(
             function () {
                 $('a',$(this)).stop().animate({'marginLeft':'-2px'},200);
             },
             function () {
                 $('a',$(this)).stop().animate({'marginLeft':'-85px'},200);
             }
         );
     });
    </script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>