<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
  <link rel="shortcut icon" href="image/favicon1.ico"></link>

    <title>Meeha Shop</title>
    <meta name="description" content="Meeha Shop is an exotic shop for pets. We offer Pet costume, Pet clothes, Pet furniture, Pet utils at an affordable price."></meta>
      <!-- iPad retina icon -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="components/patternfly/dist/img/apple-touch-icon-precomposed-152.png"></link>
  <!-- iPad retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="components/patternfly/dist/img/apple-touch-icon-precomposed-144.png"></link>
  <!-- iPad non-retina icon -->
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="components/patternfly/dist/img/apple-touch-icon-precomposed-76.png"></link>
  <!-- iPad non-retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="components/patternfly/dist/img/apple-touch-icon-precomposed-72.png"></link>
  <!-- iPhone 6 Plus icon -->
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="components/patternfly/dist/img/apple-touch-icon-precomposed-180.png"></link>
  <!-- iPhone retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="components/patternfly/dist/img/apple-touch-icon-precomposed-114.png"></link>
  <!-- iPhone non-retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="components/patternfly/dist/img/apple-touch-icon-precomposed-57.png"></link>
      <link rel="stylesheet" href="assets/css/tracking.css"></link>
   <link rel="stylesheet" href="assets/css/patternfly-adjusted.min.css"></link>
  <link rel="stylesheet" href="components/patternfly/dist/css/patternfly-additions.min.css"></link>
  <link rel="stylesheet" href="assets/css/patternfly-site.min.css"></link>
   <link rel="stylesheet" href="assets/css/krubka.css"></link>
   <link rel="stylesheet" href="assets/css/blog.css"></link>
   		<link rel="stylesheet" type="text/css" href="assets/css/normalize.css" />
			<link rel="stylesheet" type="text/css" href="assets/css/demo.css" />
			<link rel="stylesheet" type="text/css" href="assets/css/footer.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/checkout-cornerflat.css" />
				<link rel="stylesheet" type="text/css" href="assets/css/component.css" />
				<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    
    
    
    
    
    <!-- Bootstrap core CSS -->
    <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link href="assets/css/form-validation.css" rel="stylesheet"></link>
    
     <script src="components/jquery/dist/jquery.min.js"></script>
  <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="components/patternfly-bootstrap-combobox/js/bootstrap-combobox.js"></script>
  <script src="components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
  <script src="components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script src="components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
  <script src="components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
  <script src="components/patternfly-bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
 <script src="components/d3/d3.min.js"></script>
 <script src="components/c3/c3.min.js"></script>
  <script src="components/datatables/media/js/jquery.dataTables.js"></script>
  <script src="components/google-code-prettify/bin/prettify.min.js"></script>
    <script src="components/clipboard/dist/clipboard.min.js"></script>
    <script src="components/patternfly/dist/js/patternfly.js"></script>
  <script src="components/matchHeight/dist/jquery.matchHeight-min.js"></script>
  <script src="assets/js/patternfly-site.min.js"></script>
  <script src="assets/js/krubka.js"></script>
  		<script src="assets/js/classie.js"></script>
		  		<script src="assets/js/jquery.easyPaginate.js"></script>
		<script src="assets/js/anime.min.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="http://www.patternfly.org/components/angular-patternfly/dist/docs/grunt-scripts/angular-patternfly.js"></script>
  
  <script src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
     <script src="components/patternfly/src/js/patternfly.dataTables.pfEmpty.js"></script>
	   <script src="components/patternfly/src/js/patternfly.dataTables.pfFilter.js"></script>
  <script src="components/patternfly/src/js/patternfly.dataTables.pfPagination.js"></script>
    <script src="components/patternfly/src/js/patternfly.dataTables.pfResize.js"></script>
	<script src="components/patternfly/src/js/patternfly.dataTables.pfSelect.js"></script>
  </head>

  <body class="bg-light">
  
   <ul id="navigation">
             <li class="home"><a href="http://localhost:8080/orders" title="Home"></a></li>
				  <li class="about2"><a href="http://localhost:8080/checkout" title="Check out"></a></li> 
				  	 <li class="search"><a href="http://localhost:8080/tracking" title="Product tracking"></a></li>
					    <li class="promotion"><a href="http://localhost:8080/coupon" title="Promotion"></a></li>
            <li class="howtobuy"><a href="http://localhost:8080/step" title="How to buy"></a></li>
            <li class="about"><a href="http://localhost:8080/aboutus" title="About Us"></a></li>              
        </ul>

    <div class="container">
<div class="row shop-tracking-status">
    
    <div class="col-md-12">
        <div style="border: none !important; padding: 19px;" id="meehawell" class="">
    
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="inputOrderTrackingID" class="col-sm-2 control-label">Order id</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="trackingid" value="" placeholder="# put your order id here"></input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="getstatus" class="btn btn-success">Get status</button>
                    </div>
                </div>
            </div>
    
            <h4>Your order status:</h4>

            <ul id="meehareport" class="list-group">
            <!-- 
                <li class="list-group-item">
                    <span class="prefix">Date created:</span>
                    <span class="label label-success">12.12.2013</span>
                </li>
                <li class="list-group-item">
                    <span class="prefix">Last update:</span>
                    <span class="label label-success">12.15.2013</span>
                </li>
                <li class="list-group-item">
                    <span class="prefix">Comment:</span>
                    <span class="label label-success">customer's comment goes here</span>
                </li>
                <li class="list-group-item">You can find out latest status of your order with the following link:</li>
                <li class="list-group-item"><a href="//tracking/link/goes/here">//tracking/link/goes/here</a></li>
            -->
            </ul>

            <div class="order-status">

                <div id="meehareport2" class="order-status-timeline">
                    <!-- class names: c0 c1 c2 c3 and c4 -->
                    <!--  <div class="order-status-timeline-completion c3"></div> -->
                </div>

                <div class="image-order-status image-order-status-new active img-circle">
                    <span class="status">Order Received</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-active active img-circle">
                    <span class="status">Payment Verified</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-intransit active img-circle">
                    <span class="status">Shipped</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-delivered active img-circle">
                    <span class="status">Delivered</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-completed active img-circle">
                    <span class="status">Completed</span>
                    <div class="icon"></div>
                </div>

            </div>
        </div>
    </div>

</div>
    
   
    </div>
 <footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email " />
                                <button class="btn  bg-gray" type="button"> Lorem ipsum <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Perfection Stationery 2017. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                	<li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul> 
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/vendor/holder.min.js"></script>
    <script src="js/classie.js"></script>
		<script src="js/dynamics.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/main2.js"></script>
     <script type="text/javascript">
     $(document).ready(function () {
	     alert('loaded!');	
	     
	     $('#getstatus').on("click",function(e){
	            e.preventDefault();
	            $("#meehareport").empty()
	            $("#meehareport2").empty();
	            var Id = $("#trackingid").val();
	            if($.trim(Id)===""){
	                alert("You must fill the tracking id");
	            }else{
	            	$.ajax({
	                    type:"POST",
	                    url:"/getorder",
	                    data:{Id:Id},
	                    success:function (data) {
	                    	alert(data);
	                    	var status = JSON.stringify(data);
	                    	alert(status);
	                        if(status == JSON.stringify("Order Received")){
	                        	alert('set status');
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Order Received</span><span class="label label-success">Done</span></li>');        	
	                        	$("#meehareport2").append('<div class="order-status-timeline-completion c1"></div>');
	                        }else if(status == JSON.stringify("Payment Verified")){
	                        	alert('set status');
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Order Received</span><span class="label label-success">Done</span></li>');        	
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Payment Verified</span><span class="label label-success">Done</span></li>');        	
	                        	$("#meehareport2").append('<div class="order-status-timeline-completion c2"></div>');
	                        }else if(status == JSON.stringify("Shipped")){
	                        	alert('set status');
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Order Received</span><span class="label label-success">Done</span></li>');        	
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Payment Verified</span><span class="label label-success">Done</span></li>');        	
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Order Shipped</span><span class="label label-success">Done</span></li>');        	
	                        	$("#meehareport2").append('<div class="order-status-timeline-completion c3"></div>');
	                        }else if(status == JSON.stringify("Delivered")){
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Order Received</span><span class="label label-success">Done</span></li>');        	
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Payment Verified</span><span class="label label-success">Done</span></li>');        	
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Order Shipped</span><span class="label label-success">Done</span></li>');        	
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Order Delivered</span><span class="label label-success">Done</span></li>');        	
	                        	alert('set status');
	                        	$("#meehareport2").append('<div class="order-status-timeline-completion c4"></div>');
	                        }else if(status == JSON.stringify("Completed")){
	                        	alert('set status');
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Order Received</span><span class="label label-success">Done</span></li>');        	
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Payment Verified</span><span class="label label-success">Done</span></li>');        	
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Order Shipped</span><span class="label label-success">Done</span></li>');        	
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Order Delivered</span><span class="label label-success">Done</span></li>');        	
	                        	$("#meehareport").append('<li class="list-group-item"><span class="prefix">Completed</span><span class="label label-success">Done</span></li>');        	

	                        	$("#meehareport2").append('<div class="order-status-timeline-completion c4"></div>');
	                        }
	                    }
	                });
	            }
	            
	            /** else{
	                var productIds = [];
	                $(".checkbox :checkbox:checked").each(function(){
	                   productIds.push(parseInt($(this).attr("id")));
	                });
	                $.ajax({
	                   type:"POST",
	                   url:"/createorder",
	                   data:{firstName:firstName,lastName:lastName, productIds:productIds},
	                   success:function (data) {
	                       if (confirm("Order with Id " +data + " Saved")){
	                           window.location.reload();
	                       }
	                   }
	                });
	            } */
	        });
	     
	     
	     
	     
	     $('#navigation a').click(function(){
	        	alert("selected!");
		  });
	     
    	 $('#navigation a').stop().animate({'marginLeft':'-85px'},1000);

         $('#navigation > li').hover(
             function () {
                 $('a',$(this)).stop().animate({'marginLeft':'-2px'},200);
             },
             function () {
                 $('a',$(this)).stop().animate({'marginLeft':'-85px'},200);
             }
         );
     });
    </script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>